.grid-container {
  width: 100%;
  display: grid;
  gap: 10px;
  margin: 20px auto;
  border: 1px solid lightgrey;
  font-family: sans-serif;
  color: darkslategray;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-table {
  width: 100%;
  border-collapse: collapse;
}

.grid-header-controls {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  gap: 10px; /* Reduce the gap between elements */
  font-size: 1rem;
}

.grid-header-controls th {
  padding: 1em 0 1em 1em;
  text-align: left;
  font-size: 120%;
  font-weight: normal;
}

.grid-header-controls input[type="checkbox"] {
  margin-right: 12px;
  transform: scale(1.5);
}

.grid-header-controls label {
  font-size: inherit; /* Inherit the font size from parent */
  line-height: 1; /* Adjust line-height for better vertical alignment */
}

.download-btn {
  grid-column: 3; /* Adjust the button position */
  margin: 0;
  border: none;
  background: none;
  font-size: large !important;
  color: darkslategray;
  cursor: pointer;
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.download-btn:disabled {
  color: rgb(222 215 215);
  cursor: not-allowed;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 4fr 1fr; /* 5 equal columns for headers */
  font-weight: large;
  border-bottom: 1px solid lightgrey;
}

.grid-header th {
  font-size: 120%;
  text-align: left;
  font-weight: 500;
  padding: 8px;
}

.material-icons {
  vertical-align: middle;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 4fr 1fr;
  padding: 5px;
  font-size: small;
  border-bottom: 1px solid lightgrey;
}

.grid-item td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.grid-item .status-cell {
  display: flex;
  align-items: center; /* Vertically center the circle and status text */
  gap: 5px; /* Space between circle and text */
  text-transform: capitalize;
}

.grid-item.selected-row {
  background-color: #c2dbff;
  transition: background-color 0.3s ease;
}

/* Hover effect, but only apply if the row is NOT selected */
.grid-item:not(.selected-row):hover {
  background-color: whitesmoke;
}

.grid-item .status-cell.available::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
}

input[type="checkbox"].select-checkbox.indeterminate-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
  position: relative;
  cursor: pointer;
}

/* Add dash for indeterminate state */
input[type="checkbox"].indeterminate-checkbox::before {
  content: "-";
  color: #007bff;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Responsive adjustments for smaller screens */
@media (width <= 768px) {
  .grid-container {
    overflow-x: auto;
  }

  .download-btn {
    font-size: 0.9rem;
    padding: 3px 8px;
  }

  .grid-item .status-cell {
    gap: 3px; /* Reduce gap between circle and text on small screens */
    font-size: 0.9em; /* Optional: Reduce font size if necessary */
  }
}

@media (width <= 480px) {
  .grid-header,
  .grid-item {
    min-width: 100px; /* Reduce column width on very small screens */
  }

  .download-btn {
    margin-top: 10px; /* Add space above the button */
  }

  .grid-header-controls {
    flex-wrap: nowrap; /* Prevent wrapping of the header controls */
  }

  .grid-item .status-cell {
    gap: 1px; /* Reduce gap between circle and text on small screens */
    font-size: 0.4em; /* Optional: Reduce font size if necessary */
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
}

.modal.open {
  display: block;
}

.modal-content {
  position: relative;
  background-color: black;
  color: whitesmoke;
  font-family: sans-serif;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background: none;
  border: none;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.close-button:hover,
.close-button:focus {
  color: rgb(134 125 125);
  text-decoration: none;
  cursor: pointer;
}
